Package: enigma2-plugin-extensions-youtube
Version:
Description: Enigma2 plugin to manage your youtube account and watch videos
 Small plugin to manage your account, search and watch videos from youtube
Section: multimedia
Priority: optional
Maintainer: Taapat <taapat@gmail.com>
License: PD
Architecture: all
OE: enigma2-plugin-extensions-youtube
Homepage: https://github.com/Taapat/enigma2-plugin-youtube
Depends: python3-core, python3-datetime, python3-email, python3-io, python3-json
