name: build

on:
  push:
    paths-ignore:
      - 'README.md'
      - '.travis.yml'
  pull_request:
    paths-ignore:
      - 'README.md'
      - '.travis.yml'
  schedule:
    - cron:  '0 6 * * *'

jobs:
  check_source:
    if: github.event_name != 'schedule'
    runs-on: ubuntu-latest
    outputs:
      python-changed: ${{ steps.python.outputs.changed }}
      gui-changed: ${{ steps.gui.outputs.changed }}
      language-changed: ${{ steps.language.outputs.changed }}
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 2
      - name: Check python code changes
        uses: marceloprado/has-changed-path@v1
        id: python
        with:
          paths: ./*.py ./src/*.py ./test/*.py
      - name: Check gui code changes
        uses: marceloprado/has-changed-path@v1
        id: gui
        with:
          paths: ./src/YouTubeUi.py ./src/YouTubeDownload.py ./src/YouTubeSearch.py
      - name: Check language file changes
        uses: marceloprado/has-changed-path@v1
        id: language
        with:
          paths: ./po/*.po
  test-python:
    needs: check_source
    if: needs.check_source.outputs.python-changed == 'true' || contains(github.event.head_commit.message,'force-test')
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [2.7, 3.8]
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Upgrade pip
        if: matrix.python-version != '2.7'
        run: |
          python -m pip install --upgrade pip
      - name: Install dependencies
        run: |
          pip install flake8 pytest
      - name: Compile sources
        run: |
          python -O -m compileall ./src/
      - name: Check code with flake8
        run: |
          flake8 --ignore=W191,W504,E126,E127,E128,E501 --show-source --exclude=./src/compat.py,./test/enigma.py,./test/try_plugin.py
          flake8 --ignore=W191,E501,F821 --show-source --filename=./test/try_plugin.py
          flake8 --ignore=W191,F401,E128,E402 --show-source --filename=./test/enigma.py
          flake8 --ignore=W191,F821,F401 --show-source --filename=./src/compat.py
      - name: Remove enigma2 imports and variables for test
        run: |
          bash ./test/ci_fix.sh
      - name: Test code with pytest
        run: |
          pytest -rx -v
  test-gui:
    needs: test-python
    if: always() && (github.event_name == 'schedule' && github.ref == 'refs/heads/master') || ((needs.check_source.outputs.gui-changed == 'true' || contains(github.event.head_commit.message,'force-test')) && needs.test-python.result == 'success' || needs.test-python.result == 'skipped')
    runs-on: ubuntu-latest
    strategy:
      matrix:
        enigma2-version: ['OpenPLi develop', 'OpenPLi release-8.0', 'openatv 6.5', 'openatv 6.4', 'OpenViX Dev', 'Taapat bh']
        python-version: [2.7]
        include:
          - enigma2-version: 'openatv 6.5'
            python-version: 3.8
        exclude:
          - enigma2-version: 'openatv 6.5'
            python-version: 2.7
    steps:
      - uses: actions/checkout@v2
      - name: Set enigma2 repository
        uses: jungwinter/split@v1
        id: split
        with:
          msg: ${{ matrix.enigma2-version }}
      - name: Checkout ${{ matrix.enigma2-version }} repository
        uses: actions/checkout@v2
        with:
          repository: '${{ steps.split.outputs._0 }}/enigma2'
          ref: ${{ steps.split.outputs._1 }}
          path: './enigma2'
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          pip install twisted pyopenssl service_identity
      - name: Setup plugin files for test
        run: |
          mkdir enigma2/lib/python/Plugins/Extensions/YouTube
          cp -R src/* enigma2/lib/python/Plugins/Extensions/YouTube
      - name: Patch enigma step 1
        if: steps.split.outputs._0 == 'openatv' || steps.split.outputs._0 == 'OpenViX'
        run: |
          cp test/RcModel.py enigma2/lib/python/Components
          cp test/skin_display.xml ./
          sed -i 's/\/home/./g' enigma2/lib/python/Components/UsageConfig.py
          sed -i 's/config.crash.pystackonspinner.addNotifier/# config.crash.pystackonspinner.addNotifier/g' enigma2/lib/python/Components/UsageConfig.py
      - name: Patch enigma step 2
        if: steps.split.outputs._0 == 'OpenViX'
        run: |
          cp test/skin_display.xml enigma2/data/skin_user.xml
          sed -i 's/\/root/./g' enigma2/lib/python/Components/UsageConfig.py
          sed -i 's/\/usr/./g' enigma2/lib/python/Components/UsageConfig.py
          sed -i 's/addNotifier(iAVSwitch/addNotifier(iAVSwitch.setPolicy169) #/g' enigma2/lib/python/Components/AVSwitch.py
      - name: ========== Test plugin screens load ==========
        run: |
          PYTHONPATH=./test:./enigma2:./enigma2/lib/python python ./test/try_plugin.py
  test-language:
    needs: check_source
    if: needs.check_source.outputs.language-changed == 'true' || contains(github.event.head_commit.message,'force-test')
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install dependencies
        run: |
          sudo apt-get install gettext
      - name: Compile language files
        run: |
          find ./po -type f -name '*.po' -print -exec msgfmt {} -o {}.mo \;
  deploy:
    needs: [test-python, test-gui, test-language]
    if: always() && !contains(github.event.head_commit.message,'skip-release') && github.event_name == 'push' && (needs.test-python.result == 'success' || needs.test-python.result == 'skipped') && (needs.test-gui.result == 'success' || needs.test-gui.result == 'skipped') && (needs.test-language.result == 'success' || needs.test-language.result == 'skipped') && github.repository == 'Taapat/enigma2-plugin-youtube' && github.ref == 'refs/heads/master'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Set up Python 2.7
        uses: actions/setup-python@v2
        with:
          python-version: '2.7'
      - name: Install dependencies
        run: |
          sudo apt-get install gettext
      - name: Compile sources
        run: |
          python setup.py build --build-lib=build/lib
          python -O -m compileall build/lib/Extensions/YouTube/
      - name: Set git variables
        run: |
          echo "SRCPV=git$(git rev-list --count HEAD)" >> $GITHUB_ENV
          echo "SHA7=${GITHUB_SHA::7}" >> $GITHUB_ENV
          echo "COMMIT_SUBJECT=$(git log -1 --pretty=format:%s)" >> $GITHUB_ENV
      - name: Create plugin package files
        run: |
          mkdir -p deploy/data/usr/lib/enigma2/python/Plugins
          cp -r build/lib/* deploy/data/usr/lib/enigma2/python/Plugins
          mkdir -p deploy/data/etc/enigma2
          cp YouTube.key deploy/data/etc/enigma2
          sed -i 's/Version:/Version: h1+${{ env.SRCPV }}+${{ env.SHA7 }}-r0.0/' deploy/control/control
          mkdir ipk
      - name: Build data package
        working-directory: './deploy/data'
        run: |
          tar --numeric-owner --group=0 --owner=0 -czf ../data.tar.gz ./*
      - name: Build control package
        working-directory: './deploy/control'
        run: |
          tar --numeric-owner --group=0 --owner=0 -czf ../control.tar.gz ./*
      - name: Build ipk package
        working-directory: './deploy'
        run: |
          echo 2.0 > debian-binary
          ar rv ../ipk/enigma2-plugin-extensions-youtube_h1+${{ env.SRCPV }}+${{ env.SHA7 }}-r0.0_all.ipk debian-binary data.tar.gz control.tar.gz
      - name: Create release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ env.SRCPV }}
          release_name: ${{ env.COMMIT_SUBJECT }}
          draft: false
          prerelease: false
      - name: Upload release
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./ipk/enigma2-plugin-extensions-youtube_h1+${{ env.SRCPV }}+${{ env.SHA7 }}-r0.0_all.ipk
          asset_name: enigma2-plugin-extensions-youtube_h1+${{ env.SRCPV }}+${{ env.SHA7 }}-r0.0_all.ipk
          asset_content_type: application/ipk
      - name: Upload ipk via ftp
        uses: sebastianpopp/ftp-action@releases/v2
        with:
          host: ${{ secrets.FTP_SERVER }}
          user: ${{ secrets.FTP_USERNAME }}
          password: ${{ secrets.FTP_PASSWORD }}
          localDir: 'ipk'
          remoteDir: ${{ secrets.FTP_DIR }}
